asgiref==3.7.2
backports.zoneinfo==0.2.1;python_version<"3.9"
crispy-bootstrap4==2022.1
cx-Oracle==8.3.0
distlib==0.3.7
Django==4.2.4
django-crispy-forms==2.0
filelock==3.12.2
Pillow==10.0.0
platformdirs==3.10.0
sqlparse==0.4.4
typing-extensions==4.7.1
tzdata==2023.3
virtualenv==20.24.2
